@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  height: auto;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 15px;
}

.recipes {
  text-align: center;
  list-style: none;
}

.ingredients,
.steps {
  text-align: center;
  list-style-position: inside;
}

li {
  text-align: left;
  margin: 10px;
  padding: 0 20%;
  line-height: 30px;
}

ol > li::marker {
  font-weight: bold;
}

.links {
  text-align: center;
}